body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

figcaption {
  text-align: center;
  font-size: medium;
}

section#featured-property p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#details {
  background-color: red; 
  text-align: center;
  display: block;
}

div.finishing-touch {
  display: inline-block;
  text-align: center;
  width: 20%;
}